@import '../../../sass/common/variables';

h2 {
  display: inline;
}

.action {
  margin-left: 10px;
}

.log-toolbar {
  padding-left: 15px;
  padding-right: 25px;
  float: right;
}

.log-toolbar:hover {
  cursor: pointer;
}

.log-empty-space {
  flex-grow: 1;
  height: 1%;
  pointer-events: none;
}

textarea.console-typer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

div.console div.console-inner {
  background-color: $console-background-color; // #215b7e;
  color: $console-text-color;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  word-break: break-word;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
}

div.console-message-value,
div.console-message-error {
  white-space: pre-wrap;
}

div.console-message-error {
  color: $console-error-color;
}

span.console-prompt,
span.console-prompt-label {
  white-space: pre-wrap;
}

span.console-cursor {
  text-decoration: none;
  border-bottom: 4px solid $console-text-color;
  animation: blink 1s steps(3, start) infinite;
  -webkit-animation: blink 1s steps(3, start) infinite;
}

span.bash-cursor {
  border: none;
  color: $bash-cursor-text-color;
  background-color: $bash-cursor-background-color;
}

:host-context([console-type='basic']),
[console='basic'] {
  div.browse-container {
    overflow: auto;
    padding: 10px 25px 25px 25px;
  }

  #console-container {
    position: absolute;
    height: calc(100% - 35px);
    width: calc(100% - 50px);
  }

  div.browse-container.shortened /deep/ #console-container {
    height: calc(100% - 85px);
  }

  div.console {
    font-family: Consolas, 'Courier New', monospace;
    height: 100%;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    white-space: normal;
    width: 100%;
  }

  div.console div.console-inner {
    padding: 0px 0px 0px 5px;
  }

  div.console-message-header {
    span,
    pre {
      tab-size: 4;
      background: inherit;
      color: #0074e0;
      font-style: normal;
      font-weight: 700;
      border: none;

      white-space: pre-wrap;
      display: block;
      padding: 5px;
      padding: 0;
      margin: 0 0 10px;
      margin: 0;
      font-size: 12px;
      line-height: 1.42857143;
      line-height: 18px;
      word-break: break-all;
      word-break: normal;
      word-wrap: break-word;
      font-family: Consolas, 'Lucida Console', 'Courier New', monospace;
      font-family: Consolas, 'Courier New', monospace;
      border-radius: 0;
    }
  }

  div.console-message-value.result-string,
  div.console-message-error {
    display: inline;
    font-family: az_ea_font, 'Segoe UI', wf_segoe-ui_bold, 'Segoe UI Bold', 'Segoe WP Bold', 'Segoe WP', Tahoma, Arial, sans-serif;

    &::before,
    &::after {
      content: '';
      display: block;
    }
  }

  div.console-message-value.result-string {
    color: $success-color;
  }

  div.console-prompt-box {
    font-size: 12px;
    font-weight: 700;
    font-family: Consolas, 'Courier New', monospace;
    line-height: 18px;
  }

  span.console-cursor {
    display: inline-block;
    vertical-align: bottom;
    height: 0px;
    width: 1em;
    margin-bottom: 4px;
  }

  span.bash-cursor {
    height: 100%;
    margin-bottom: 0px;
  }
}
