<div class="browse-container" [class.functions-portal]="isFunctionsPortal">
  <!--
  <div *ngIf="!initialized" class="loading">
    {{ 'loading' | translate }}&nbsp;<i class="fa fa-refresh fa-spin fa-fw"></i>
  </div>
  -->
  <ng-container *ngIf="!!initialized || !initialized">
    <radio-selector *ngIf="isFunctionsPortal"
      [options]="options"
      [defaultValue]="currentOption"
      (value)="optionsChange.next($event)">
    </radio-selector>
    <app-edit-mode-warning *ngIf="appModeVisible" [context]="context"></app-edit-mode-warning>
    <app-cmd *ngIf="windows && toggleConsole" @fade></app-cmd>
    <app-powershell *ngIf="windows && !toggleConsole" @fade></app-powershell>
    <app-bash *ngIf="!windows && toggleConsole" [appName]="appName" @fade></app-bash>
    <ng-container *ngIf="!windows && !toggleConsole">
      <app-ssh #ssh></app-ssh>
      <div class="log-toolbar">
        <span class="log-empty-space"></span>
        <span class="link action" (click)="reconnectSSH()"
            tabindex="0" role="button" attr.aria-label="{{ 'ssh_reconnect' | translate }}">
            <i class="fa fa-plug"></i>
            {{ 'ssh_reconnect' | translate }}
        </span>
        <span class="link action" (click)="openNewSSHWindow()"
            tabindex="0" role="button" attr.aria-label="{{ 'ssh_newWindow' | translate }}">
            <i class="fa fa-external-link"></i>
            {{ 'ssh_newWindow' | translate }}
        </span>
      </div>
    </ng-container>
  </ng-container>
</div>