@import '../../../sass/common/variables';

h2 {
  display: inline;
}

div.browse-container {
  overflow: auto;
}

#console-container {
  height: 100%;
  width: 100%;
}

.action {
  margin-left: 10px;
}

.log-toolbar {
  padding-left: 15px;
  padding-right: 25px;
  float: right;
}

.log-toolbar:hover {
  cursor: pointer;
}

.log-empty-space {
  flex-grow: 1;
  height: 1%;
  pointer-events: none;
}

textarea.console-typer {
  position: absolute;
  height: 0px;
  width: 0px;
  z-index: -1;
}

@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

div.console div.console-inner {
  background-color: $console-background-color; // #215b7e;
  color: $console-text-color;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  word-break: break-word;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
}

div.console-message-header span {
  white-space: pre-wrap;
}

div.console-message-value,
div.console-message-error {
  white-space: pre-wrap;
}

div.console-message-error {
  color: $console-error-color;
}

span.console-prompt,
span.console-prompt-label {
  white-space: pre-wrap;
}

span.console-cursor {
  text-decoration: none;
  box-shadow: 0px -4px $console-text-color inset;
  animation: blink 1s steps(3, start) infinite;
  -webkit-animation: blink 1s steps(3, start) infinite;
}

span.bash-cursor {
  box-shadow: none;
  color: $bash-cursor-text-color;
  background-color: $bash-cursor-background-color;
}

:host-context([console-type='full']),
[console-type='full'] {
  div.console-wrapper {
    position: absolute;
    padding-top: 2em;
    height: calc(100% - 90px);
    width: calc(100% - 50px);
    margin-bottom: 5px;

    &.shortened {
      height: calc(100% - 140px);
    }
  }

  div.console {
    font-family: 'Courier New', 'Lucida Console', 'Times New', monospace;
    height: 100%;
    font-size: medium;
    white-space: normal;
    width: 100%;
  }

  div.console div.console-inner {
    padding: 0.8em;
  }

  div.console-message-header span {
    color: $console-default-msg-color;
  }

  div.console-prompt-box {
    font-size: 0;
  }

  span.console-prompt,
  span.console-prompt-label {
    font-size: medium;
  }

  span.console-cursor {
    font-size: medium;
  }
}
